

@tailwind components;
@tailwind utilities;
@tailwind base;
   /*
    ul li {
        list-style-type: disc;
     }
     ul,ol{
        padding: 10px;
     }
     ol{
        list-style-type:decimal;
     }
*/
      .report img{
         border-radius: 20px;
         
      }

    .report ul{
      list-style-type: square;
      margin:0px;
      padding:5px 20px;
    }
    .report ol{
      list-style-type:decimal;
      padding:5px 30px;
    }
    
     .footnotes{
        margin:20px;
        font-size: 12px;
        color: gray;
        border-top: 2px solid lightgray;
        word-wrap: break-word;
     }
     .footnotes a{
      word-wrap: break-word;
     }
     .footnotes ::marker{
        font-weight: bold;
     }
     .footnotes p{padding:3px;}
 

 .img-sm{
   max-width:300px;
   
 }
 blockquote{ 
   background-color: lightgray;
   padding: 0px 10px;
}

table{
   font-size: 12px;
}
table tr td:second-child{
   background:lightgray;
}
table td{padding: 10px;
}
table tr:nth-child(even){
   background:rgb(231, 230, 230)
}

table th{background:#FCD34D;
   padding: 10px
}
 h3 {
      font-size: 1.5em;
   }
   @layer base {
      p{
         @apply py-3
      }
      h1 {
        @apply mt-8 text-3xl;
      }
      h2 {
         @apply text-2xl;
         @apply font-bold;
         @apply pt-5;
      }
      h3 {
         @apply text-2xl;
         @apply font-bold;
         @apply pt-5;
      }
      h4 {
         @apply text-xl;
         @apply font-bold;
         @apply pt-5;
      }
      ul{
         @apply py-5;
         @apply pl-5;
         @apply list-disc;
      }
      ol{
         @apply py-5;
         @apply pl-5;
         @apply list-decimal;	
      }
      .report img{
         @apply p-3;
         @apply rounded-lg;
         @apply mx-auto;
         @apply shadow-md;
         @apply object-center;
      }
      .report video{
         @apply mx-auto;
      }
      figure{
         @apply mx-auto;
      }
    }
    