
@tailwind base;
@tailwind components;
@tailwind utilities;
   /*
    ul li {
        list-style-type: disc;
     }
     ul,ol{
        padding: 10px;
     }
     ol{
        list-style-type:decimal;
     }
*/
      .report img{
         border-radius: 20px;
      }
     .footnotes{
        margin-top:20px;
        font-size: 14px;
        color: gray;
        border-top: 2px solid lightgray;
     }
     .footnotes a{
      word-wrap: break-word;
     }
     .footnotes ::marker{
        font-weight: bold;
     }
   iframe{
      padding: 20px;
   }  
   

   
   @layer base {
      p{
         @apply py-3
      }
      h1 {
        @apply mt-8 text-2xl;
      }
      h2 {
         @apply text-3xl;
         @apply font-bold;
         @apply pt-5
      }
      h3 {
         @apply text-2xl;
         @apply font-bold;
         @apply pt-5;
      }
      h4 {
         @apply text-xl;
         @apply font-bold;
         @apply pt-5;
      }
      ul{
         @apply py-5;
         @apply pl-5;
         @apply list-disc
      }
      ol{
         @apply py-5;
         @apply pl-5;
         @apply list-decimal	
      }
      .report img{
         @apply p-3;
         @apply rounded-lg;
         @apply w-1/2;
         @apply shadow-md;
         @apply object-center;
      }
    }
