---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Sidebar from '../components/Sidebar.astro';
import StickyNavBottom from '../components/StickyNavBottom.astro';

const allNewsPosts = await Astro.glob(`./content/*.md`)
const newsPosts = allNewsPosts.map(n => ({
  title: n.frontmatter.title,
  slug: n.frontmatter.slug,
  Content: n.Content,
}));
---

  <Layout title="SFT Report">
  <div class="mx-auto max-w-screen-8xl md:grid sm:grid-cols-1 lg:grid-cols-12">
     <Sidebar/>

    <div class="report pb-8   p-5   sm:col-span-1 lg:col-span-9  ">
      {
          newsPosts.map(({ title, slug, Content }) => (
              <h2 class="text-4xl font-extrabold py-10 underline decoration-amber-300 underline-offset-8 decoration-8 " id={slug}>{title}</h2>
              <Content class="pt-10" />
          ))
    }  
  </div>
  <StickyNavBottom/>
  </div> 
</Layout>


