<div class="bg-white">
    <div class="relative isolate  py-10  bg-orange-500">
        <div class="mx-auto md:flex justify-between w-full">
            <h1 class=" font-bold tracking-tight text-gray-100 sm:text-6xl text-7xl px-5 lg:px-20 ">REPORTS</h1>
          <div class="md:px-20 sm:px-5 flex ">
            <img src="/logo/Logowithname_white.webp" alt="/logo/Logowithname_white" class=" px-5">
            <img src="/logo/sft-logo-eng-tib.svg" alt="/logo/sft-logo-eng-tib.svg" class="  px-5"> 
          </div>
            
        </div>
    </div>

    <div class="relative isolate lg:px-0 bg-black grid  gap-0 h-2/3 sm:grid-cols-1 lg:grid-cols-2">
        <div class="mx-auto">
            <div class="lg:p-20">
                <p class="text-gray-200 text-center">“Welcoming Xi”</p>
                <p class=" font-bold   sm:text-3xl lg:text-4xl text-sm p-5   text-amber-300 text-center">Chinese Communist Party Transnational Repression
                    on the Streets of San Francisco</>
                <p class="text-xl text-gray-100 p-5 text-center">
                    Attacks on protesters during Xi Jinping’s visit in November 2023
                </p> 
                
                <p class="text-center  text-gray-200 underline text-sm">a joint report by Hong Kong Democracy Council and Students for a Free Tibet June 2024 </p>
                   
            </div>
        </div>
        <div class="mx-auto object-cover">
            <div class=" bg-red-500">
            <img src="/assets/banner1.png" alt="" class="object-fill">
            </div>
        </div>
    </div>
</div>
  