<div class="bg-white">
    <div class="relative isolate  py-10  bg-orange-500">
        <div class="mx-auto ">
            <div class="">
            <h1 class=" font-bold tracking-tight text-gray-100 sm:text-6xl text-7xl px-5 lg:px-20 ">REPORTS</h1>
            </div>
        </div>
    </div>

    <div class="relative isolate lg:px-0 bg-black grid  gap-0 h-2/3 sm:grid-cols-1 lg:grid-cols-2">
        <div class="mx-auto">
            <div class="lg:p-20">
                <p class=" font-bold   sm:text-3xl lg:text-4-xl text-sm p-5  underline underline-offset-10 text-amber-300 ">Transnational Repression Report</>
                <p class="text-xl text-gray-100 p-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam saepe provident reiciendis maiores ducimus, voluptate voluptatem repellendus quasi perferendis commodi fugiat, voluptatibus placeat dolor iure deserunt atque molestias assumenda eius.
                </p> 
                   
            </div>
        </div>
        <div class="mx-auto">
            <div class=" bg-red-500">
            <img src="/assets/banner1.png" alt="" class="object-cover">
            </div>
        </div>
    </div>
</div>
  