---
import Menu from "./Menu.astro"
import Social from "./Social.astro"
---

<nav class="bg-slate-900">
    <div class="mx-auto max-w-full px-2 sm:px-6 lg:px-8 w-full py-5 ">
      <div class="relative  items-center justify-between  flex  flex-col lg:flex-row ">
        <div class=" grid md:grid-cols-2 sm:grid-cols-1">
          
           <!-- 
            <p class="px-10  lg:px-5 text-slate-500 lg:border-l-2 sm:text-sm text-center sm:text-center lg:text-left md:text-xl">Transforming our world <br> through nonviolent action</p>
           -->
        </div>
<!-- <Social/> -->
      </div>
    </div>

<!--<Menu/> -->

      </div>
  
    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="hidden w-full md:block lg:hidden md:w-auto" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a href="https://studentsforafreetibet.org/our-work" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Our Work</a>
        <a href="https://studentsforafreetibet.org/get-involved" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Get Involved</a>
        <a href="https://studentsforafreetibet.org/latest" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Latest</a>
        <a href="https://studentsforafreetibet.org/about" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">About</a>
        <a href="https://studentsforafreetibet.org/support-sft" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Support</a>

    </div>
    </div>
  </nav>