<div class=" h-screen sticky top-0  border-r-2  sm:col-span-1 lg:col-span-3 mt-28  hidden lg:block">
<div class=" h-full px-3 py-4 overflow-y-auto  dark:bg-gray-800" id="toc">
    <h2 class="text-xl text-amber-300">Table Of Contents</h2>
    <ul class="space-y-2 font-medium list-none p-0">
       <li>
          <a href="#executivesummary" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">Executive Summary</a>
       </li>
       <li>
        <a href="#methodology" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">Methodology</a>
     </li>
     <li>
        <a href="#intro" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">Introduction</a>
     </li>
     <li>
        <a href="#overseasunitedfront" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">The CCP & it's Overseas United Front</a>
     </li>
     <li>
        <a href="#countering" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">The US Government on Countering Transnational Repression</a>
     </li>
       <li>
          <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" >     
                <a class="flex-1  text-left rtl:text-right whitespace-nowrap" href="#attacksonprotesters">Attacks on Protesters in San Francisco</a>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6" aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
                   <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
          </button>
          <ul id="dropdown-example" class="hidden py-2  p-0 ">
                <li>
                   <a href="#saturdaynov11" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-5 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Saturday, November 11</a>
                </li>
                <li>
                  <a href="#nov12to14" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-5 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">November 12 to 14</a>
               </li>
                <li>
                   <a href="#tuesdaynov14" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-5 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Tuesday, November 14</a>
                </li>

                <li>
                   <a href="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-5 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Wednesday, November 15</a>
                </li>
                <li>
                  <a href="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-5 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Thursday, November 16</a>
               </li>
               <li>
                  <a href="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-5 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Friday, November 17</a>
               </li>
          </ul>
       </li>
       <li>
        <a href="#reactions" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">Reactions and Responses</a>
      </li>
      <li>
        <a href="#Analysis" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">Analysis</a>
      </li>
      <li>
        <a href="#recommendations" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">Recommendations</a>
      </li>
      <li>
        <a href="#acknowledgments" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">Acknowledgments</a>
      </li>
      <li>
        <a href="#appendices" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">Appendices</a>
      </li>
    </ul>
 </div>
 </div>