


  

  
  <!-- Dropdown menu  -->

  <div id="dropdownDotsHorizontal" class="z-10 w-full h-full top-0 lg:hidden hidden fixed  px-5 bg-gray-200/70  shadow  dark:bg-gray-700 dark:divide-gray-600 backdrop-blur-lg ">
   <div class="  flex justify-between  ">
       <h2 class="text-2xl font-bold text-[#ffd300] ">Table Of Contents</h2>
       <svg  class="pt-5" id="close" width="50px" height="50px" viewBox="0 0 24 24" fill="oragne" xmlns="http://www.w3.org/2000/svg">
         <g id="Menu / Close_MD">
         <path id="Vector" d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18" stroke="#ffd300" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
         </g>
         </svg>
   </div>
       
       <ul class="text-4xl pt-5 list-none ">
         <li class="menu-item  py-2">
            <a href="#foreword" class="text-lg flex items-center  text-gray-700 rounded-lg dark:text-white dark:hover:bg-gray-700 group">Foreword</a>
         </li>
          <li class="menu-item  py-2">
             <a href="#executivesummary" class="text-lg flex items-center  text-gray-700 rounded-lg dark:text-white dark:hover:bg-gray-700 group">Executive Summary</a>
          </li>
          <li class="menu-item  py-2">
           <a href="#methodology" class="text-lg flex items-center  text-gray-700 rounded-lg dark:text-white dark:hover:bg-gray-700 group">Methodology</a>
        </li>
        <li class="menu-item  py-2">
           <a href="#intro" class="text-lg flex items-center  text-gray-700 rounded-lg dark:text-white dark:hover:bg-gray-700 group">Introduction</a>
        </li>
        <li class="menu-item  py-2">
           <a href="#overseasunitedfront" class="text-lg flex items-center  text-gray-700 rounded-lg dark:text-white dark:hover:bg-gray-700 group">The CCP & Its Overseas United Front</a>
        </li>
        <li class="menu-item  py-2">
           <a href="#countering" class="text-lg flex items-center  text-gray-700 rounded-lg dark:text-white dark:hover:bg-gray-700 group">The US Government on Countering Transnational Repression</a>
        </li>
          <li>
             <button type="button" class="text-lg flex items-center w-full    text-gray-700 transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700" >     
                   <a class="flex-1  text-left rtl:text-right whitespace-nowrap" href="#attacksonprotesters">Attacks on Protesters in San Francisco</a>
                   <svg class="w-4 h-4 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6" aria-controls="dropdown-mobile" data-collapse-toggle="dropdown-mobile">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                   </svg>
             </button>
             <ul id="dropdown-mobile" class="hidden py-2  p-0  list-none">
                   <li class="menu-item  py-2">
                      <a href="#saturdaynov11" class="text-lg flex items-center w-full  text-gray-700 transition duration-75 rounded-lg pl-5 group dark:text-white dark:hover:bg-gray-700"> November 11</a>
                   </li>
                   <li class="menu-item  py-2">
                     <a href="#nov12to14" class="text-lg flex items-center w-full  text-gray-700 transition duration-75 rounded-lg pl-5 group dark:text-white dark:hover:bg-gray-700">November 12 to 14</a>
                  </li>
                   <li class="menu-item  py-2">
                      <a href="#tuesdaynov14" class="text-lg flex items-center w-full  text-gray-700 transition duration-75 rounded-lg pl-5 group dark:text-white dark:hover:bg-gray-700"> November 14</a>
                   </li>
   
                   <li class="menu-item  py-2">
                      <a href="#wednesdaynov15" class="text-lg flex items-center w-full  text-gray-700 transition duration-75 rounded-lg pl-5 group dark:text-white dark:hover:bg-gray-700">November 15</a>
                   </li>
                   <li>
                     <a href="#thursdaynovember16" class="text-lg flex items-center w-full  text-gray-700 transition duration-75 rounded-lg pl-5 group dark:text-white dark:hover:bg-gray-700">November 16</a>
                  </li>
                  <li class="menu-item  py-2">
                     <a href="#fridaynov17" class="text-lg flex items-center w-full  text-gray-700 transition duration-75 rounded-lg pl-5 group dark:text-white dark:hover:bg-gray-700">November 17</a>
                  </li>
             </ul>
          </li>
          <li class="menu-item  py-2">
           <a href="#reactions" class="text-lg flex items-center  text-gray-700 rounded-lg dark:text-white dark:hover:bg-gray-700 group">Reactions and Responses</a>
         </li>
         <li class="menu-item  py-2">
           <a href="#Analysis" class="text-lg flex items-center  text-gray-700 rounded-lg dark:text-white dark:hover:bg-gray-700 group">Analysis</a>
         </li>
         <li class="menu-item  py-2">
           <a href="#recommendations" class="text-lg flex items-center  text-gray-700 rounded-lg dark:text-white dark:hover:bg-gray-700 group">Recommendations</a>
         </li>
         <li class="menu-item  py-2">
           <a href="#acknowledgments" class="text-lg flex items-center  text-gray-700 rounded-lg dark:text-white dark:hover:bg-gray-700 group">Acknowledgments</a>
         </li class="menu-item  py-2">
         <li class="menu-item  py-2">
           <a href="#appendices" class="text-lg flex items-center  text-gray-700 rounded-lg dark:text-white dark:hover:bg-gray-700 group">Appendices</a>
         </li>
         <li class="menu-item  py-2">
            <a href="#endnote" class="text-lg flex items-center  text-gray-700 rounded-lg dark:text-white dark:hover:bg-gray-700 group">Endnotes</a>
          </li>
       </ul>
     </div>
   
   
   
   