


  

  
  <!-- Dropdown menu  -->

  <div id="dropdownDotsHorizontal" class="z-10   w-full h-full top-0 lg:hidden fixed  hidden bg-gray-200/70 divide-y divide-gray-800 rounded-lg shadow  dark:bg-gray-700 dark:divide-gray-600 backdrop-blur-lg ">
    <h2 class="text-xl text-orange-600 p-10">Table Of Contents</h2>
    <ul class="space-y-2 font-medium list-none  lg:p-0 sm:p-10">
       <li class="menu-item">
          <a href="#executivesummary" class="text-sm flex items-center p-2 text-gray-700 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">Executive Summary</a>
       </li>
       <li class="menu-item">
        <a href="#methodology" class="text-sm flex items-center p-2 text-gray-700 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">Methodology</a>
     </li>
     <li class="menu-item">
        <a href="#intro" class="text-sm flex items-center p-2 text-gray-700 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">Introduction</a>
     </li>
     <li class="menu-item">
        <a href="#overseasunitedfront" class="text-sm flex items-center p-2 text-gray-700 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">The CCP & it's Overseas United Front</a>
     </li>
     <li class="menu-item">
        <a href="#countering" class="text-sm flex items-center p-2 text-gray-700 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">The US Government on Countering Transnational Repression</a>
     </li>
       <li class="menu-item">
          <button type="button" class="text-sm flex items-center w-full p-2  text-gray-700 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" >     
                <a class="flex-1  text-left rtl:text-right whitespace-nowrap" href="#attacksonprotesters">Attacks on Protesters in San Francisco</a>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6" aria-controls="dropdown-mobile" data-collapse-toggle="dropdown-mobile">
                   <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
          </button>
          <ul id="dropdown-mobile" class="hidden py-2  p-0  list-none">
                <li class="menu-item">
                   <a href="#saturdaynov11" class="text-sm flex items-center w-full p-2 text-gray-700 transition duration-75 rounded-lg pl-5 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Saturday, November 11</a>
                </li>
                <li class="menu-item">
                  <a href="#nov12to14" class="text-sm flex items-center w-full p-2 text-gray-700 transition duration-75 rounded-lg pl-5 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">November 12 to 14</a>
               </li>
                <li class="menu-item">
                   <a href="#tuesdaynov14" class="text-sm flex items-center w-full p-2 text-gray-700 transition duration-75 rounded-lg pl-5 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Tuesday, November 14</a>
                </li>

                <li class="menu-item">
                   <a href="#wednesdaynov15" class="text-sm flex items-center w-full p-2 text-gray-700 transition duration-75 rounded-lg pl-5 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Wednesday, November 15</a>
                </li>
                <li>
                  <a href="#thursdaynovember16" class="text-sm flex items-center w-full p-2 text-gray-700 transition duration-75 rounded-lg pl-5 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Thursday, November 16</a>
               </li>
               <li class="menu-item">
                  <a href="#fridaynov17" class="text-sm flex items-center w-full p-2 text-gray-700 transition duration-75 rounded-lg pl-5 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Friday, November 17</a>
               </li>
          </ul>
       </li>
       <li class="menu-item">
        <a href="#reactions" class="text-sm flex items-center p-2 text-gray-700 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">Reactions and Responses</a>
      </li>
      <li class="menu-item">
        <a href="#Analysis" class="text-sm flex items-center p-2 text-gray-700 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">Analysis</a>
      </li class="menu-item">
      <li class="menu-item">
        <a href="#recommendations" class="text-sm flex items-center p-2 text-gray-700 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">Recommendations</a>
      </li class="menu-item">
      <li class="menu-item">
        <a href="#acknowledgments" class="text-sm flex items-center p-2 text-gray-700 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">Acknowledgments</a>
      </li class="menu-item">
      <li>
        <a href="#appendices" class="text-sm flex items-center p-2 text-gray-700 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">Appendices</a>
      </li>
    </ul>
  </div>


